.producto {
    text-align: center;
    background-color: #2a2c66;
    border: 1px solid #ccc;
    padding: 10px;

    .producto img
{
    width: 100%;
    height: auto;
}
.nombre-product{
    color: orangered;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    
}

.descripro{
    padding-top: 1rem;

}

.precio{
    background-color: #e11e37;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

    
}


.titulo{
    background-color: ;
}